html, body {
  margin: 0;
  height: 100%;
}

#map {
  width: 100%;
  height: 100%;
}

.leaflet-control-locate .leaflet-bar-part {
  text-align: center;
  line-height: 26px;
}

.map-apps {
  height: 30px;
}

.map-app-icon-wrapper {
  position: relative;
  display: inline-block;
  width: 50%;
  height: 30px;
  line-height: 30px;
  border: 1px solid #DDDDDD;
  text-align: center;
  vertical-align: middle;
}

.map-app-icon {
  position:absolute;
  width: 20px;
  height: 20px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin:auto;
}

.new-notification {
  border: 2px solid #999;
  -webkit-border-radius: 30px;
  height: 40px;
  width: 40px;
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: 1;
  opacity: 0.0;
}

@-webkit-keyframes pulsate {
  0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
  50% {opacity: 1.0;}
  100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}

.throbber {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 155px;
  left: 10px;
  display: none;
}

.throbber svg {
  width: 30px;
  height: 30px;
}

#logo-wrapper {
  position: absolute;
  top: 10px;
  right: 10px;
  pointer-events: none;
}

#gorados-logo {
  font-weight: 900;
  font-size: 15px;
  color: white;
  text-shadow: 0.1em 0.1em 0.2em #777777;
  font-family: "Malgun Gothic", Helvetica, Arial, sans-serif;
  text-align: right;
}

#logo-supplement {
  font-weight: 600;
  font-size: 13px;
  font-style: italic;
  color: white;
  text-shadow: 0.1em 0.1em 0.2em #777777;
  font-family: Baskerville, “Baskerville Old Face”, “Hoefler Text”, Garamond, “Times New Roman”, serif;
  text-align: right;
}

.heart {
  color: #ff2a16;
}

.leaflet-theme {
  border: 2px solid rgba(0, 0, 0, .2);
  background-clip: padding-box;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: none;
}

#filter-button {
  width: 26px;
  height: 26px;
  position: absolute;
  top: 115px;
  left: 10px;
}

#filter-button a {
  cursor: pointer;
  display: block;
  text-align: center;
  line-height: 26px;
}

#filter-button img {
  width: 26px;
  height: 26px;
}

#filters {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(200, 200, 200, 0.5);
  display: none;
  z-index: 1001;
}

#filters-popup {
  height: 90%;
  width: 95%;
  margin-top: 10px;
  margin: 10px auto;
  position: relative;
}

#filters-popup h1 {
  text-align: center;
  font-size: 1.3em;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

#filters-popup #search {
  width: calc(100% - 62px);
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  background-image: url('/static/images/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
}

#filters-popup .button-wrapper {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.button:hover {
  background-color: #2C8F30;
}

ul#filter-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  min-width: 220px;
  width: 100%;
  height: calc(100% - 155px);
  overflow: auto;
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
}

#filter-list .filter {
  height: 30px;
  line-height: 30px;
  font-family: '맑은고딕', NanumGothic, MalgunGothic, sans-serif;
  font-size: 15px;
  border-bottom: 1px solid #eee;
	background-color: white;
}

#filter-list li.filter:last-child {
  border:none;
}

#filter-list li.filter:hover {
  background-color: #eeffee;
}

#filter-list li.filter.touch {
	background-color: #eeffee;
}

#filter-list .filter input {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

#filter-list .filter img {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

.pokedex-wrapper {
  position: relative;
  width: 24px;
  height: 20px;
  margin-left: 5px;
  vertical-align: middle;
  display: inline-block;
}

img.pokedex {
  display: inline-block;
  width: 24px;
  height: 17px;
}

img.pokedex-pokemon-image {
  position: absolute;
  width: 7px;
  height: 7px;
  top: 4px;
  left: 3px;
}

#type-chart-button {
  width: 26px;
  height: 26px;
  position: absolute;
  top: 10px;
  left: 50px;
}

#type-chart-button a {
  cursor: pointer;
  display: block;
  text-align: center;
  width: 26px;
  height: 26px;
}

#type-chart-button img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  display: inline-block;
}

#type-chart {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(200, 200, 200, 0.5);
  display: none;
  z-index: 1001;
}

#type-chart-popup {
  width: 95%;
  margin-top: 10px;
  padding-bottom: 10px;
  margin: 10px auto;
  position: relative;
}

#type-chart-popup h1 {
  text-align: center;
  font-size: 1.3em;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

#type-chart-popup img {
  width: 100%;
}
