body {
  margin: 0;
}

#map {
  width: 100%;
  height: 90vh;
}

.leaflet-control-locate .leaflet-bar-part {
  text-align: center;
  line-height: 26px;
}

.map-apps {
  height: 30px;
}

.map-app-icon-wrapper {
  position: relative;
  display: inline-block;
  width: 50%;
  height: 30px;
  line-height: 30px;
  border: 1px solid #DDDDDD;
  text-align: center;
  vertical-align: middle;
}

.map-app-icon {
  position:absolute;
  width: 20px;
  height: 20px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin:auto;
}

.new-notification {
  border: 2px solid #999;
  -webkit-border-radius: 30px;
  height: 40px;
  width: 40px;
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: 1;
  opacity: 0.0;
}

@-webkit-keyframes pulsate {
  0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
  50% {opacity: 1.0;}
  100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}

.throbber {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 115px;
  left: 10px;
  display: none;
}

.throbber svg {
  width: 30px;
  height: 30px;
}
